@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
		color: #0f1b61;
	}
}

@layer utilities {
	.section-container {
		@apply py-[25px] px-[20px];
	}
}

input.defaultCheckbox::before {
	@apply text-white opacity-0 h-[16px] w-[16px] absolute left-1/2 -translate-x-1/2;
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.ant-menu {
	border-inline-end: none !important;
	@apply text-secondary font-poppins font-medium !bg-transparent text-[16px] !relative;
}

.ant-menu-item-selected {
	@apply !text-primary font-semibold !bg-transparent;
}

.ant-menu-item-selected::before {
	content: url('../assets//svgs/line.svg');
	@apply absolute right-0 -mr-[33px] mt-[7px] ;
}

.ant-menu-item {
	@apply !rounded-none !pl-[10px] !w-[98%]
}
.ant-menu-item:hover {
	background-color: transparent !important;
}

.ant-menu-submenu {
	@apply !rounded-[6px]
}

.ant-menu-submenu-open {
	background-color: rgba(248, 250, 252, 0.6);
	@apply !rounded-none
}

.ant-menu-submenu-title:hover {
	@apply !text-secondary !bg-slate-50;
}

.ant-menu-submenu-title {
	@apply !text-secondary hover:!bg-transparent !pl-[10px] !pr-[12px];
}

.ant-menu-sub {
	.ant-menu-title-content {
		margin-left: 29px;
		@apply hover:!text-primary ml-[29px]
	}
}
